/* 全体のデフォルトカラー */
$body-color: #333333;

/* メインカラー */
$primary: #e37321;

/* セカンドカラー */
$secondary: #eeeeee;

/* 緑系 */
$success: #5bbbb7;

/* 青系 */
// $info: #5bbbb7;

/* 黄色系 */
$warning: #fdc82f;

/* 赤系 */
$danger: #ec1658;

/* 灰色系 */
$light: #d3d3d3;

/* 黒 */
$dark: $body-color;
