#footer {
  padding-top: 60px;
  background-color: #222222;
  color: $white;
  @include media-breakpoint-down(md) {
    text-align: center;
  }
  .logo {
    img {
      width: 120px;
      height: auto;
    }
  }
  ul {
    padding: 0;
    margin: 2rem 0;
    li {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      margin: 0 0.5rem;
      @include media-breakpoint-down(md) {
        margin: 0 0.5rem 0.5rem 0;
      }
      a {
        font-size: $font-size-sm;
        color: $white;
        @include media-breakpoint-down(md) {
          font-size: 12px;
        }
      }
    }
  }
  .sns {
    margin-bottom: 2rem;
    text-align: right;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 1px solid $white;
      color: $white;
      line-height: 3rem;
      font-size: 1.25rem;
      &:hover {
        background-color: $white;
        color: $body-color;
      }
    }
  }
  .copy {
    text-align: left;
    display: block;
    width: 100%;
    background-color: #222222;
    box-sizing: border-box;
    padding: 15px 0;
    color: $white;
    font-size: 10px;
    line-height: 1;
    a {
      color: $white;
      float: right;
      margin: 0 5px;
      font-size: 10px;
    }
  }
}
