.newslist {
  &__cats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    a {
      display: block;
      color: $body-color;
      font-weight: bold;
      margin-right: 2em;
      padding-bottom: 0.5em;
      @include media-breakpoint-down(md) {
        margin-right: 1.5em;
        font-size: $font-size-sm;
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        border-bottom: 2px solid $body-color;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    &-item {
      position: relative;
      width: 32%;
      margin-right: 2%;
      margin-bottom: 2%;
      box-shadow: 0 0 1rem rgba($body-color, 0.1);
      transition: all 0.3s;
      background-color: $body-color;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:hover {
        box-shadow: 0 0 1rem rgba($body-color, 0.3);
      }
    }
    &-thumbnail {
      overflow: hidden;
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
    &-txt {
      color: $white;
      padding: 1.5rem 2rem;
    }
    &-ttl {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    &-meta {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      & > span {
        display: block;
        line-height: 1;
        &:first-child {
          font-size: $font-size-sm;
          margin-right: 0.5rem;
          padding-right: 0.5rem;
          border-right: 1px solid $white;
        }
        &:last-child {
          font-size: $font-size-sm;
          color: rgba($white, 0.4);
        }
      }
    }
  }
}

.wp-pagenavi {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  a,
  span {
    display: block;
    line-height: 1;
    padding: 0.5rem 0.75rem;
    margin: 0 5px;
    border: 1px solid $body-color;
    color: $body-color;
    border-radius: 5px;
  }
  a:hover,
  .current {
    background-color: $body-color;
    color: $white;
  }
}
